*{
    box-sizing: content-box;
}

.address-container{ 
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #fce3fe; 
    padding: 25px 0 25px 0px

}

form{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 100px;
    background-color:white ;
    width: 400px;
    justify-content: center;
    align-items: center;
    padding: 25px 0px 25px 25px;
    /* margin-top: 50px; */
    
}form input{
    height: 50px;
    width: 350px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;

}form label{
    font-size: 20px;
    font-weight: 500;
    color: #5c5c5c;
}.address-heading{
    margin-left: 100px;
    margin-bottom: 50px;
}.saveaddress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    color: white;
    background-color: #ff4141;
    margin: 25px 0px 25px 65px ;

}.saveaddress button{
    outline: none;
    background: transparent;
    border: none;
    font-size: 22px;
}